body {
    font-family: 'Zen Loop', cursive;
    font-size: 1.3em;
}

header {
    padding: 40px;
}

header h1 {
    font-size: 3.5em;
}


p {
    font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
    font-weight: 900;
    text-decoration: none;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
    font-weight: normal;
}

a.home-link {
    color: #C78197;
}

a.about-link {
    color: #E98E91
}

a.gallery-link {
    color: #FFA085
}

a.contact-link {
    color: #FFB977
}

a.blog-link {
    color: #FFD76D;
}

.contact-button {
    background-color: #FFB977;
    font-weight: bold;
    color: white;
}

.form-control:focus {
    border: 2px solid #FFB977;
    box-shadow: 0 0 0 0.2rem rgba(255, 185, 119, 0.4);
}

footer {
    padding: 20px;
}