body {
    font-family: 'Zen Loop', cursive;
    font-size: 1.3em;
}

header {
    padding: 40px;
}

header h1 {
    font-size: 3.5em;
}


p {
    font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
    font-weight: 900;
    text-decoration: none;
}

h1, a {
    color: black;
}

h1 a:hover {
    color: black;
    font-weight: normal;
}

a.home-link {
    color: #C78197;
}

a.about-link {
    color: #E98E91
}

a.gallery-link {
    color: #FFA085
}

a.contact-link {
    color: #FFB977
}

a.blog-link {
    color: #FFD76D;
}

.contact-button {
    background-color: #FFB977;
    font-weight: bold;
    color: white;
}

.form-control:focus {
    border: 2px solid #FFB977;
    box-shadow: 0 0 0 0.2rem rgba(255, 185, 119, 0.4);
}

footer {
    padding: 20px;
}

li a.active {
    font-weight: bold;
}

.btn-purple {
    color: #C78197;
    font-weight: bold;
    background-color: #fff;
    border-color: #C78197;
  }
  
  .btn-purple:hover {
    color: #fff;
    background-color: #C78197;
    border-color: #C78197;
  }

  .btn-pink {
    color: #E98E91;
    font-weight: bold;
    background-color: #fff;
    border-color: #E98E91;
  }
  
  .btn-pink:hover {
    color: #fff;
    background-color: #E98E91;
    border-color: #E98E91;
  }

  .btn-peach {
    color: #FFA085;
    font-weight: bold;
    background-color: #fff;
    border-color: #FFA085;
  }
  
  .btn-peach:hover {
    color: #fff;
    background-color: #FFA085;
    border-color: #FFA085;
  }

  .btn-orange {
    color: #FFB977;
    font-weight: bold;
    background-color: #fff;
    border-color: #FFB977;
  }
  
  .btn-orange:hover {
    color: #fff;
    background-color: #FFB977;
    border-color: #FFB977;
  }

  .btn-yellow {
    color: #FFD76D;
    font-weight: bold;
    background-color: #fff;
    border-color: #FFD76D;
  }
  
  .btn-yellow:hover {
    color: #fff;
    background-color: #FFD76D;
    border-color: #FFD76D;
  }

  .card-purple {
    border: 1px solid #C78197;
  }

  .card-pink {
    border: 1px solid #E98E91;
  }

  .card-peach {
    border: 1px solid #FFA085;
  }

  .card-orange {
    border: 1px solid #FFB977;
  }

  .card-yellow {
    border: 1px solid #FFD76D;
  }